<a href="https://colab.research.google.com/github/sajillidhan123/Data-Science-Lab/blob/main/CO5_Natural_Language_Toolkit_Sajil_Lidhan_T_15_02_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim: Implement problems on natural language processing - Part of Speech
tagging, N-gram & smoothening and Chunking using NLTK

Short notes:

The **Natural Language Toolkit (NLTK)** is a platform used for building programs for text analysis. One of the more powerful aspects of the NLTK module is the Part of Speech tagging.

**Part-of-speech (POS)** tagging is a process of converting a sentence to forms – list of words, list of tuples (where each tuple is having a form (word, tag)). The tag in case of is a part-of-speech tag, and signifies whether the word is a noun, adjective, verb, and so on.

**keywords**:

Corpus : Body of text, singular. Corpora is the plural of this.

Lexicon : Words and their meanings.

Token : Each “entity” that is a part of whatever was split up based on rules.

**Tags and their meanings**

CD cardinal digit

EX existential there (like: “there is” … think of it like “there exists”)

FW foreign word

IN preposition/subordinating conjunction

JJ adjective ‘big’

JJR adjective, comparative ‘bigger’

JJS adjective, superlative ‘biggest’

NN noun, singular ‘desk’

NNS noun plural ‘desks’

NNP proper noun, singular ‘Harrison’

NNPS proper noun, plural ‘Americans’

PDT predeterminer ‘all the kids’

POS possessive ending parent‘s

PRP personal pronoun I, he, she

PRP$ possessive pronoun my, his, hers

RB adverb very, silently,

RBR adverb, comparative better

RBS adverb, superlative best

RP particle give up

**N-grams** are continuous sequences of words or symbols or tokens in a document. In technical terms, they can be defined as the neighbouring sequences of items in a document. 

**Steps for n-gram model:**

Explore the dataset

Feature extraction

Train-test split

Basic pre-processing

Code to generate N-grams

Creating unigrams

Creating bigrams

Creating trigrams

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

stop_words = set(stopwords.words('english'))
#Dummy text

txt = "Hello I'm Sajil Lidhan"
  
# sent_tokenize is one of instances of 
# PunktSentenceTokenizer from the nltk.tokenize.punkt module
tokenized = sent_tokenize(txt)
for i in tokenized:
    # Word tokenizers is used to find the words 
    # and punctuation in a string
    wordList = nltk.word_tokenize(i)
    
  
    # removing stop words from wordList
    wordList =[w for w in wordList if not w in stop_words]
  
    #  Using a Tagger. Which is part-of-speech 
    # tagger or POS-tagger. 
    tagged = nltk.pos_tag(wordList)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
print(stop_words)

{'can', 'mustn', 'myself', 'yours', 'such', 'mightn', 'you', "wouldn't", 'yourself', 'couldn', 'not', "aren't", 'those', 'don', 'it', 'then', 'on', 'under', 'theirs', 'through', "it's", 'didn', 'again', 'what', 'its', "she's", 'why', 'than', "haven't", "mustn't", 'hadn', 'because', 'but', 'being', 'a', 'and', 'been', 'or', "needn't", 'both', 'same', 're', "hasn't", 'for', 'further', 'i', 'yourselves', 'his', 'down', 'too', 'against', "shan't", 'has', 'herself', 'up', 'ain', 'your', 'most', "you're", 'this', 'were', 'above', 'any', 'whom', 'was', 'does', 'here', 'during', 'himself', 'o', 've', 's', 'are', 'her', 'own', 'as', "doesn't", 'before', 'wouldn', 'once', "you'd", 't', "weren't", 'doing', "isn't", 'which', 'while', 'off', 'about', "should've", "shouldn't", 'shouldn', 'who', 'had', 'in', 'm', 'them', 'am', 'is', 'just', 'out', 'so', 'from', "you've", 'he', 'll', 'ourselves', 'between', 'having', 'shan', 'won', 'themselves', "don't", 'isn', 'into', 'below', 'they', 'after', 'their', 'me', 'some', 'that', 'hers', 'she', 'we', 'needn', "wasn't", 'more', 'no', 'hasn', 'if', 'over', 'our', 'wasn', 'y', 'there', "that'll", 'when', 'ma', 'at', 'each', 'other', 'weren', 'have', 'the', "you'll", 'an', 'until', 'nor', 'will', 'of', 'itself', 'where', 'doesn', "mightn't", 'all', 'few', 'ours', 'my', "didn't", "won't", 'do', 'haven', 'should', "hadn't", 'how', 'now', 'by', 'be', 'd', 'these', "couldn't", 'him', 'very', 'did', 'to', 'with', 'aren', 'only'}

In [ ]:
print(tokenized)

["Hello I'm Sajil Lidhan"]

N-gram model

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(style='seaborn')

#get the data from https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news/version/5
colname=['Sentiment','news']
df=pd.read_csv('all-data.csv',encoding="ISO-8859-1",names=colname)
df.head()

  Sentiment                                               news
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentiment  4846 non-null   object
 1   news       4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [ ]:
df['Sentiment'].value_counts()

neutral     2879
positive    1363
negative     604
Name: Sentiment, dtype: int64

In [ ]:
y=df['Sentiment'].values
y.shape

(4846,)

In [ ]:
x=df['news'].values
x.shape

(4846,)

In [ ]:
#Split train dataset 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=40)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4806,)
(40,)
(4806,)
(40,)

In [ ]:
#Make train dataset as a dataframe
df1=pd.DataFrame(x_train)
df1=df1.rename(columns={0:'news'})
df2=pd.DataFrame(y_train)
df1=df1.rename(columns={1:'Sentiment'})
df_train=pd.concat([df1,df2],axis=1)
df_train.head()

                                                news         0
0  Operating profit totaled EUR 6.7 mn , down fro...  negative
1  ADP News - Apr 22 , 2009 - Finnish business in...  negative
2  The appointments will be in force until the ne...   neutral
3  3 January 2011 - Finnish flag carrier Finnair ...  positive
4  Last year , UPM cut production , closed mills ...  negative

In [ ]:
#Make test dataset as a dataframe
df3=pd.DataFrame(x_test)
df3=df1.rename(columns={0:'news'})
df4=pd.DataFrame(y_test)
df4=df1.rename(columns={1:'Sentiment'})
df_test=pd.concat([df1,df2],axis=1)
df_test.head()

                                                news         0
0  Operating profit totaled EUR 6.7 mn , down fro...  negative
1  ADP News - Apr 22 , 2009 - Finnish business in...  negative
2  The appointments will be in force until the ne...   neutral
3  3 January 2011 - Finnish flag carrier Finnair ...  positive
4  Last year , UPM cut production , closed mills ...  negative

In [ ]:
#removing punctuations
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:

#defining the function to remove punctuation
def remove_punctuation(text):
  if(type(text)==float):
    return next
  ans=""
  for i in text:
    if i not in string.punctuation:
      ans+=i
  return ans

In [ ]:
str1="my_name@is!"
remove_punctuation(str1)

'mynameis'

In [ ]:
#storing the puntuation free text in a new column called clean_msg
#punctuations are removed from news column in train dataset
df_train['news']=df_train['news'].apply(remove_punctuation)
df_test['news']=df_test['news'].apply(remove_punctuation)
df_train.head()

                                                news         0
0  Finnish forest machinery manufacturer Ponsse h...  positive
1  Like all other mechanical pipettors from Biohi...   neutral
2  We are very excited working with Maxis on this...  positive
3  According to PKC  the acquisition would bring ...  positive
4   The beers differ slightly from mainstream beers    neutral

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#method to generate n-grams:
#params:
#text-the text for which we have to generate n-grams
#ngram-number of grams to be generated from the text(1,2,3,4 etc., default value=1)
def generate_N_grams(text, ngram = 1):
  words = [word for word in text.split(" ") if word not in set(stop_words)]
  print('after removing stopwords', words)
  temp = zip(*[words[i:] for i in range(0, ngram)])
  ans = [''.join(ngram) for ngram in temp]
  return ans

In [ ]:
generate_N_grams("The sun rises in the east",2)

after removing stopwords ['The', 'sun', 'rises', 'east']

['Thesun', 'sunrises', 'riseseast']

In [ ]:
generate_N_grams("The sun rises in the east",3)

after removing stopwords ['The', 'sun', 'rises', 'east']

['Thesunrises', 'sunriseseast']

In [ ]:
generate_N_grams("The sun rises in the east",4)

after removing stopwords ['The', 'sun', 'rises', 'east']

['Thesunriseseast']

In [ ]:
name=['Sajil','Lidhan']
s=' '.join(name)
s

'Sajil Lidhan'

In [ ]:
s1=['Abeel','Adithya','Akash','Akshaya']
s2=[1,2,3,4]
s3=zip(s1,s2)
print(set(s3))

{('Akshaya', 4), ('Abeel', 1), ('Adithya', 2), ('Akash', 3)}